.header {
    background: #223369;
    color: white;
    padding: 2px;
    padding-top: 2px;
    text-align: left;
    margin-top: -10px;
    box-shadow: black 0px 3px 5px;
    position: sticky;
    top: 0;
}
.help{
    color: #223369;
    padding-left: 1%;
    padding-right: 1%;
    background: white;
    border-radius: 15px;
}