* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

footer {
	width: 100%;
	height: 180px;
	background: #22336A;
	color: white;
	padding: 0 1rem;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.pes {
	font-weight: bold;
	margin-top: 10px;
}

.columna1 {
	width: 500px;
	margin: 10px 0;
}

.columna1-content {
	margin: 10px 0;
}

.columna1-texto {
	width: 550px;
	line-height: 1.2rem;
}

.container-body {
	justify-content: space-evenly;
	display: flex;
}

.margin-columna2 {
	margin: 10px 0;
}

.infouaa-columna2 {
	width: 350px;
	line-height: 1.2rem;
}